* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Urbanist", sans-serif;
}
:root {
  --main-color: #4a86e1;
  --header-color: #f6f6f6;
  --footer-color: #d8e9f9;
}
nav {
  padding: 10px 120px 0 120px;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.nav-header h1 {
  color: var(--main-color);
  font-family: "Urbanist", sans-serif;
  font-size: 38px;
}
.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 33%;
}
.search input {
  padding: 0 5px;
  border: 1px solid #e2e3e4;
  height: 40px;
  width: 160px;
}
.search .search-btn {
  height: 40px;
  width: 80px;
  background-color: #fff;
  border: 1px solid #888888;
  border-radius: 5px;
  cursor: pointer;
}
.search .search-btn:hover {
  background-color: #888888;
  color: #fff;
}
.login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}
.search .login-btn {
  width: 50px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #888888;
  border-radius: 5px;
  cursor: pointer;
}
.search .login-btn:hover {
  background-color: #67a0f7;
  color: #fff;
  border: none;
}
nav hr {
  color: #cfcdcd;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}
.first-ul {
  border-bottom: 1px solid var(--main-color);
}
.links a {
  text-decoration: none;
  color: #000;
}
.links ul li {
  list-style-type: none;
  height: 30px;
}
.links ul li:hover {
  border-bottom: 1px solid var(--main-color);
}
header {
  width: 100%;
}
header img {
  width: 100%;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 0 50px;
}
aside {
  width: 20%;
  background-color: #e2e3e4;
  min-height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  padding: 30px 10px;
  margin-top: 50px;
}
.price {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.price,
.category h5 {
  font-size: 24px;
  margin-bottom: 18px;
}
.price label {
  font-size: 16px;
  margin-top: 10px;
}
.price p {
  font-size: 10px;
}
.range-price {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.price input {
  width: 80%;
  margin: 10px 0;
}
.category {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.category a {
  text-decoration: none;
  list-style-type: none;
  color: #000;
}
.category a ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.category ul li {
  margin-bottom: 7px;
}
.category ul li:hover {
  color: var(--main-color);
}
.products {
  width: 77%;
}
.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0;
}
.card {
  width: 24%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
.card img {
  width: 100%;
  margin-bottom: 10px;
}
.card h5 {
  font-size: 18px;
}
.prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 20px 0;
}
.prev-price {
  text-decoration: line-through;
}
.card button {
  width: 100%;
  height: 30px;
  border: none;
  cursor: pointer;
}
.card button:hover {
  background-color: #fff;
  border: 1px solid #cfcdcd;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  height: 200px;
  background-color: var(--footer-color);
}
